html
head
    title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='stylesheets/style.css', rel='stylesheet', type='text/css')
    link(href='javascripts/leaflet/leaflet.css', rel='stylesheet', type='text/css')
    link(href='stylesheets/leaflet-locationfilter.css', rel='stylesheet', type='text/css')
    link(href='stylesheets/MarkerCluster.Default.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')

    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='javascripts/jquery.easyModal.js')
    script(type='text/javascript', src='javascripts/ProgressBar.js')

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
    script(type='text/javascript', src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(type='text/javascript', src='javascripts/leaflet/leaflet-src.js')
    script(type='text/javascript', src='javascripts/leaflet-bing.js')
    script(type='text/javascript', src='javascripts/leaflet-locationfilter.js')
    script(type='text/javascript', src='javascripts/leaflet.markercluster-src.js')

    script(type='text/javascript', src='javascripts/backend-interface.js', defer)
    script(type='text/javascript', src='javascripts/map.js', defer)
    script(type='text/javascript', src='javascripts/app.js', defer)


  body
    #main
      #myMap
    #sidebar
      div#title StreetSideCV
      select#classifier(style='display: block;')
        option( value='faces' ) Faces
        option( value='full_body' ) Full Body
        option( value='car_side') Car (side)
        option( value='car_frontback') Car (front/back)
        option( value='license') License Plates
        option( value='housenumbers') Housenumbers (BETA!)

      div#locations
        button.location#loc_pearl_street Pearl Street
        button.location#loc_times_square Times Square
        button.location#loc_herald_square Herald Square
        button.location#loc_world_trade_center World Trade Center
        button.location#loc_bing_1cube 1 cube in front of Bing (dev)

      div#progress

      button#start(onclick='send();') Start
