html
head
    title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='stylesheets/style.css', rel='stylesheet', type='text/css')
    link(href='javascripts/leaflet/leaflet.css', rel='stylesheet', type='text/css')
    link(href='stylesheets/leaflet-locationfilter.css', rel='stylesheet', type='text/css')
    link(href='stylesheets/MarkerCluster.Default.css', rel='stylesheet', type='text/css')

    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
    script(type='text/javascript', src='javascripts/bundle.js', defer)
    script(type='text/javascript', src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(type='text/javascript', src='javascripts/leaflet/leaflet-src.js')
    script(type='text/javascript', src='javascripts/leaflet-bing.js')
    script(type='text/javascript', src='javascripts/leaflet-locationfilter.js')
    script(type='text/javascript', src='javascripts/leaflet.markercluster-src.js')

  body
    #main
      #myMap
    #sidebar
      button#start(onclick='send();') Start
