#main {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}


/*----- Sidebar ------*/

#sidebar {
	position: absolute;
	width: 17%;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
}

#title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5vw;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

#sidebar label {
	display: block;
	text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;

}

#sidebar > .container, #start {
	margin-top: 20%;
}

#sidebar > .container {
	text-align: center;
	display: block;
}

#classifiers > select {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

#start {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#locations > div {
	margin-top: 5%
}

#locations button {
	background-color: aliceblue;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	display: block;
	border-radius: 10px;
  border: 0px;
  cursor: pointer;
  color: black;
}

#locations button:hover {
	background-color: #537899;
	color: white;
}

#start {
	min-height: 50px;
	width: 200px;
	background-color: aliceblue;
	/*background-color: green;*/
	border-radius: 10px;
  /*border: 2;*/
  /*border-style: solid;*/
  /*border-color: #96A0AA;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;

}

#start.button {
	cursor: pointer;
}

#start.button:hover {
	background-color: #537899;
	color: white;
}
#start.progress {
	background-color: #AAA596
}

/*-------------------------------*/

#myMap {
	position: relative;
	width: 100%;
	height: 100%;
}

.modal {
	display: none;
	left: 17% !important;
}

.modalRow {
	width: 1024px;
	height: 12.5vh;
}

.modalRow > img{
	width: 128px;
	height: 12.5vh;
}

.popupImage {
	float: left;
	margin: 2px;
}

/* locationfilter hack */
.button-container {
	display: none;
}

/* Popups */
.img_popup {
	overflow: scroll;
	width: 300px;
	height: 300px;
}
.img_popup img {
	padding: 2px;
	width: 50px;
	height: 50px;
}
